body {
    background-color:rgb(205, 194, 216);
    text-align: center;
}

#gameStart {
    font-family: Arial;
    margin: 0 auto;
    width: 500px;
    height: 200px;
    background-color:rgb(210, 203, 216);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#container {
    font-family: Arial;
    margin: 0 auto;
    width: 500px;
    height: 300px;
    background-color:rgb(210, 203, 216);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: none;
}

.shell {
    width: 100%;
    height: 100%;
    position: relative;
}

.heading {
    background-color:rgb(175, 91, 175);;
    color: rgb(255, 255, 255);
    font-size: 18px;
    padding: 10px;
}

.content {
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.control {
    width: 100%;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}


.btn-group {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn-success {
    float: left;
    width: 40%;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(61, 125, 168);
    border-radius: 5px;
    border: 2 px, solid;
    border-color: rgb(1, 68, 112);
    font-size: 18px;
    padding: 12px;
}

.btn-success:hover {
    background: linear-gradient(rgb(2, 102, 168),rgb(0, 41, 68));
    border-color: rgb(1, 68, 112);
}

.btn-info {
    float: left;
    width: 30%;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(161, 89, 89);
    border-radius: 5px;
    border: 2 px, solid;
    border-color: rgb(109, 1, 1);
    font-size: 18px;
    padding: 12px;
}

.btn-info:hover {
    background: linear-gradient(rgb(116, 55, 55), rgb(92, 1, 1));
    border-color: rgb(109, 1, 1);
}

.btn{
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(175, 91, 175);
    border-radius: 5px;
    border: 2 px, solid;
    border-color: rgb(44, 1, 82);
    font-size: 18px;
    padding: 12px;
}

.btn:hover {
    background: linear-gradient(rgb(91, 3, 168), rgb(44, 1, 82));
    border-color: rgb(44, 1, 82);
}

#enter {
    display: none;
}
 input {
    border-style:solid;
    border-color: none;
    border-radius:10px;
    padding: 10px;
    margin: 10px;
    width: 77%;
 }